@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::-webkit-scrollbar { 
  display: none; 
  }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #F3F4F7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(20px + 2vmin);
  font-family: 'Open Sans', sans-serif;
  color: white;
  box-shadow: 5px 0px 20px #0000007A;
  max-width: 95vw;
  min-width: 95vw;
  left: 5vw;
  float: right;
  overflow:none;
  z-index: 1;
  padding: 4vw 0 0 0;

}

.github-link {
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

/* Top Bar */

.top_bar {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 5vw;
  width: 95vw;
  height: 4vw;
  z-index: 1000;
}

.top_icons {
  color: #000;  
}

/* Nav Bar */

.nav_wrap {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #97D1F4;
  width: 5vw;
  height: 100vh;
  z-index: -1;
}

.logo_wrap a {
  display: flex;
  justify-content: center;
  height: 4vw;
}

.logo_wrap a img {
  height: 100%;
  width: 100%;
}

.logo_wrap {
  height: 2vw;
  margin-bottom: 85%;
}

.nav_list {
  margin: 0 auto;
  padding: 0;
}

.nav_item {
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  margin-bottom: 20%;
}

.nav_square {
  padding: 12%;
  border-radius: 1.4vw;
  width: 2vw;
  height: 2vw;
  transition: .3s all ease-in-out;
  text-align: center;
}



.nav_square:hover {
  background-color: #B3DCF4;
}
.nav_square:focus {
  background-color: #2D98DA;
  box-shadow: 0px 3px 6px #00000029;
}

.nav_list {
  list-style: none;
}

.nav_icon {
  color: #fff;
}
